<!DOCTYPE html>
<html>
<body>
  <form action="/" method="POST">
    <input name="name" type="text">Name:
    <input type="text" name="breed">Breed:
    <input type="text" name="age">Age:
    <input type='submit' id='submit'>
  </form>
</body>
</html>
